<div>
    <!-- <div *ngIf="fillForm(product)"> -->
        <form [formGroup]="productForm" id="product-edit">
            <div class="form-container">
                <div class="labels">
                    <label for="name">Name: </label>
                    <!-- <label for="category">Category: </label> -->
                    <label for="image">Image URL: </label>
                    <label for="price">Price: </label>
                    <label for="description">Description: </label>
                </div>
                <div class="inputs">
                    <input id="name" type="text" formControlName="name" form="product-edit">
                    <!-- <input id="category" type="text" formControlName="category" form="product-edit"> -->
                    <input id="image" type="text" formControlName="image" form="product-edit">
                    <input id="price" type="text" formControlName="price" form="product-edit">
                    <textarea id="description" formControlName="description" form="product-edit"></textarea>
                </div>
            </div>
            <div>
                <button type="reset">CANCEL</button>
            </div>
        </form>
        <button type="submit" (click)="onSubmit(product)" [disabled]="!productForm.valid" style="background-color: dodgerblue;color: white">SAVE</button>
    <!-- </div> -->
</div>
