<div class="all-container">
    <form [formGroup]="productForm" id="product-add">
        <div class="form-container">
            <div class="labels">
                <label for="name">Product name: </label>
                <label for="image">Image URL: </label>
                <label for="price">Price: </label>
            </div>
            <div class="inputs">
                <input id="name" type="text" formControlName="name" form="product-add" placeholder="Name">
                <input id="image" type="url" formControlName="image" form="product-add" placeholder="shop.com/images/picture.png">
                <input id="price" type="number" formControlName="price" form="product-add" placeholder="Price RON">
            </div>
        </div>
        <textarea id="description" formControlName="description" form="product-add" placeholder="Product description"></textarea>
        <!-- <div class="validators">
            <p *ngIf="formControl.name.invalid && (name.dirty || name.touched)">* Product name must be at least <b>3</b> characters long.</p>
        </div> -->
        <div>
            <button type="reset">CANCEL</button>
        </div>
    </form>
    <button type="submit" (click)="onSubmit()" [disabled]="!productForm.valid" style="background-color: dodgerblue;color: white">ADD</button>
</div>
