<div class="container">
    <h1>Shopping Cart</h1>
    <div class="part">
        <button style="background-color: dodgerblue;color: white">CHECKOUT</button>
    </div>
</div>
<table>
    <thead>
        <tr>
            <th>Category</th>
            <th>Product Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th class="row-width"></th>
        </tr>
    </thead>
    <tbody *ngIf="products">
        <tr *ngFor="let product of products">
            <td>{{ product.categoryName }}</td>
            <td>{{ product.productName }}</td>
            <td>{{ product.productPrice }} RON</td>
            <td>{{ getQuantity(product) }}</td>
            <td class="row-width"><app-icon-button [product]="product" (onClick)="handleDelete(product.productID)"></app-icon-button></td>
        </tr>
    </tbody>
</table>